body {
  margin: 0px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:-webkit-any-link {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: black !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
/* ========================
          Header
   ======================== */

.header {
  height: 4rem;
  background-color: #909396;
  opacity: 0.9;
}

.header__navigation-links {
  color: white;
  float: right;
  font-weight: bold;
  padding: 1rem;
}

.header__navigation-links-link-home {
  display: inline-block;
  padding-right: 1rem;
}

.header__navigation-links-link-add {
  display: inline-block;
}

/* ========================
          SearchBar class
   ======================== */

.wrapper_label {
  font-size: 1.2rem;
  font-weight: bold;
}

input {
  background-color: #f2f2f2;
  border: 3px solid #ddd;
  border-radius: 20pt;
  margin: 0;
  padding-left: 15pt;
  padding-right: 15pt;
  font-size: 15px;
  height: 30pt;
  outline: none;
  margin-top: 1rem;
  transition: 0.2s ease-in-out;
  color: #333;
}
