body {
  margin: 0px;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: #9b9ea2 !important;
}

/* ========================
          Header
   ======================== */

.header {
  height: 4rem;
  background-color: #babfc5;
  opacity: 0.9;
}

.header__navigation-links {
  color: white;
  float: right;
  font-weight: bold;
  padding: 1rem;
}

.header__navigation-links-link-home {
  display: inline-block;
  padding-right: 1rem;
}

.header__navigation-links-link-add {
  display: inline-block;
}

/* ========================
          SearchBar class
   ======================== */

input {
  background-color: #f2f2f2;
  display: table;
  margin: 0 auto;
  border: 3px solid #ddd;
  border-radius: 20pt;
  padding-left: 15pt;
  padding-right: 15pt;
  font-size: 15px;
  height: 30pt;
  outline: none;
  margin-top: 1rem;
  transition: 0.2s ease-in-out;
  color: #333;
  margin-top: 2rem;
}

/* ========================
          Items
   ======================== */
.profile_data {
  margin-top: 1rem;
  margin-left: 2rem;
  padding-right: 2rem;
  float: right;
}

.repo {
  margin-left: 2rem;
  font-weight: bold;
}
.repos {
  margin-left: 2rem;
  margin-top: 1rem;
}

.repos_info-label {
  font-weight: bold;
}

.profile_data-information {
  margin-right: 2rem;
  font-weight: bold;
}
